.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px aqua solid;
  border-radius: 5px;
  padding: 20px;
  width: 25%;

  input {
    margin: 10px;
    padding-left: 20px;
    box-sizing: border-box;
    padding: 5px;
    border: 1px gray solid;
    border-radius: 5px;
    width: 100%;
  }
}